<launch>
	<param name="use_sim_time" value="true" />

	<node name="MiaOdometry" pkg="ros_mia_odometry" type="ros_mia_odometry_node" />

	<!-- Crop-Box Filter -->
	 <node name="NodeletManager" pkg="nodelet" type="nodelet" args="manager" />

	<node name="CropBox" pkg="nodelet" type="nodelet" args="load pcl/CropBox NodeletManager">
		<remap from="~input" to="velodyne/velodyne_points" />
		<remap from="~output" to="filtered_points" />
		<param name="min_x" value="-2.0" />
		<param name="max_x" value="2.0" />
		<param name="min_y" value="-2.0" />
		<param name="max_y" value="2.0" />
		<param name="min_z" value="-2.0" />
		<param name="max_z" value="2.0" />
		<param name="negative" value="true" />
	</node>

	<node name="NavSat" pkg="nmea_navsat_driver" type="nmea_topic_driver" >
		<remap from="nmea_sentence" to="/velodyne/gps_imu/driver_node/nmea_sentence" />
		<param name="useRMC" value="true" />
	</node>


	<node ns="/xsens/mt0" name="Filter" pkg="imu_complementary_filter" type="complementary_filter_node" >
		<remap from="imu/data_raw" to="imu/data" />
		<remap from="imu/data" to="imu/data_filtered" />
		<param name="use_mag" value="true" />
		<param name="publish_tf" value="true" />
		<param name="fixed_frame" value="map" />
	</node>

	<!-- Mapper -->
	<rosparam file="$(find slam3d_ros)/param/mia_oval_track.yaml"/>
	<node name="Mapper" pkg="slam3d_ros" type="mapper_node" >
		<remap from="pointcloud" to="filtered_points" />
		<remap from="gps" to="/xsens/mt0/fix" />
	</node>

	<!-- RVIZ to view the visualization -->
	<node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find slam3d_ros)/launch/mia.rviz" />

</launch>

