<launch>
	<param name="use_sim_time" value="true" />

	<include file="$(find slam3d_ros)/launch/ekf.launch" />

	<node name="MiaOdometry" pkg="ros_mia_odometry" type="ros_mia_odometry_node">
		<param name="publish_tf" value="false" />
	</node>

	<node name="NodeletManager" pkg="nodelet" type="nodelet" args="manager" />
	<node name="CropBoxMin" pkg="nodelet" type="nodelet" args="load pcl/CropBox NodeletManager">
		<remap from="~input" to="velodyne/velodyne_points" />
		<remap from="~output" to="min_filtered_points" />
		<param name="min_x" value="-2.0" />
		<param name="max_x" value="2.0" />
		<param name="min_y" value="-2.0" />
		<param name="max_y" value="2.0" />
		<param name="min_z" value="-2.0" />
		<param name="max_z" value="2.0" />
		<param name="negative" value="true" />
	</node>

	<node name="CropBoxMax" pkg="nodelet" type="nodelet" args="load pcl/CropBox NodeletManager">
		<remap from="~input" to="min_filtered_points" />
		<remap from="~output" to="filtered_points" />
		<param name="min_x" value="-30.0" />
		<param name="max_x" value="30.0" />
		<param name="min_y" value="-30.0" />
		<param name="max_y" value="30.0" />
		<param name="min_z" value="-5.0" />
		<param name="max_z" value="5.0" />
		<param name="negative" value="false" />
	</node>

	<node name="Mapper" pkg="slam3d_ros" type="mapper_node" >
		<rosparam file="$(find slam3d_ros)/param/mia_oval_track.yaml"/>
		<remap from="pointcloud" to="filtered_points" />
		<remap from="gps" to="/xsens/mt0/fix" />
	</node>

	<!-- RVIZ to view the visualization -->
	<node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find slam3d_ros)/launch/mia.rviz" />

</launch>

